.loginTextContent .text-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.loginTextContent .welcome-back,
.loginTextContent .welcome-to-join {
  color: #333;
}
.loginTextContent h1 {
  font-size: 1rem;
  color: #3a3a3a;
}
.loginTextContent hr {
  margin: 1.5rem 0;
  border: none;
  height: 1px;
  background: #eaeaea;
}
.loginTextContent p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #000000;
  font-weight: 700;
}
.loginTextContent ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.loginTextContent ul li::before {
  content: '•';
  color: #007bff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media (max-width: 600px) {
  .loginTextContent h1 {
    font-size: 2rem;
  }
  .loginTextContent .text-content {
    padding: 1rem;
  }
}
