.main {
  margin-top: 0.625rem;
  padding: 1.2rem;
  min-height: 20rem;
  max-height: 44rem;
  background-color: var(--main-bg-color);
}
.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .header .header-right {
  display: flex;
  gap: 0.9375rem;
}
