.main {
  align-items: center;
  background-color: var(--main-bg-color);
  height: 10rem;
  padding: 1.75rem;
  gap: 1.5rem;
  transition: height .5s ease-out;
  &-col {
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
    .top-input {
      width: calc(100% - 3.5rem);
      flex-grow: 1;
    }
    &:nth-child(4+n) {
      transition: opacity .5s ease-out;
    }
  }
  .item-hide {
    display: none;
    opacity: 0;
  }
  &-btns {
    justify-content: end;
    gap: 1rem;
    .top-hide {
      color: #3787d6;
    }
    .top-hide:hover {
      cursor: pointer;
      color: #177ee5;
      transition: all .3s;
    }
  }
}
.main.shrink {
  height: 5rem;
}
