* {
    margin: 0;
    padding: 0;
    transition-property: background-color, color;
    transition-duration: 1s, 100ms;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

:root {
    --main-bg-color: white;
    --main-fg-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #141414;
        --main-fg-color: white;
    }
}