.main {
  text-align: center;
  align-items: start;
  display: flex;
  overflow-x: auto;
}
.main .card {
  border-radius: 16px;
  box-shadow: 2px 2px 8px silver;
  width: 192px;
  height: 256px;
  display: inline-block;
  margin: 64px;
  background-color: white;
  color: black;
}
.main .card img {
  width: 192px;
  height: 192px;
  object-fit: cover;
  object-position: center;
}
.main .card div {
  padding: 0 1em;
}
.main .card div p {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .phone {
  border-radius: 24px;
  display: inline-block;
  height: 932px;
  min-width: 430px;
  width: 430px;
  border: 4px solid darkgray;
  overflow: hidden;
  font-size: 18px;
  z-index: -99;
  background-color: white;
  color: black;
}
.main .phone .topbar {
  width: calc(100% - 48px);
  height: 32px;
  background-color: #0004;
  vertical-align: middle;
  text-align: left;
  padding: 0 24px;
}
.main .phone .topbar span {
  float: right;
}
.main .phone img {
  position: relative;
  top: -32px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.main .phone .detail {
  position: relative;
  top: -32px;
  margin: 16px;
  text-align: left;
  overflow: auto;
  height: calc(100% - 500px);
}
.main .phone .detail h3 {
  word-wrap: break-word;
  word-break: normal;
}
.main .phone .detail h2 {
  color: crimson;
}
.main .phone .detail p {
  color: gray;
}
.main .phone button {
  height: 48px;
  width: 350px;
  border-radius: 32px;
  background-color: red;
  border: none;
  color: white;
  bottom: 48px;
  position: relative;
  font-size: 24px;
}
